   <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Entry View</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

</head>
<body class="light-bg">

  <!-- Navigation Bar -->
  <nav class="navbar">
    <div class="navbar-left">
      <h1 class="logo">EMPATHY</h1>
    </div>
    
    <div class="navbar-right">
        <div class="icon-group">
            
            <img src="{{ url_for('static', filename='images/new-entry-default.png') }}" onclick="showNewEntryModal()" alt="New Entry">
            
            <img src="{{ url_for('static', filename='images/journal-default.png') }}" alt="Journal">
            </a>
            <a href="{{ url_for('dashboard.dashboard') }}">
              <img src="{{ url_for('static', filename='images/dashboard-default.png') }}" alt="Dashboard">
            </a>
            
            <a href="{{ url_for('allEntries.allEntries') }}">
            <img src="{{ url_for('static', filename='images/all-entry-default.png') }}" alt="All Entries">
            </a>

            <a href="{{ url_for('profile.page') }}">
              <img src="{{ url_for('static', filename='images/profile-default.png') }}" alt="Profile" class="profile-filled">
            </a>
            <a href="{{ url_for('auth.logout') }}" class="logout-link">
              <img src="{{ url_for('static', filename='images/logout-default.png') }}" alt="Logout" title="Logout">
            </a>
        </div>
    </div>
  </nav>

    <!-- Main Container -->
    <div class="container entry">
        <div class="modal rounded visible" id="viewEntryModal">
        <div class="modal-content">
            <div class="col">
                <span id="title">TitleText</span>
                <span id="date">July 25, 2025</span>
            </div>
            <p id="content">
                Lorem ipsum dolor sit amet. Aut pariatur dolores eum quod dolores est molestias earum. Qui quasi Quis sit voluptas 
                accusamus id iure sequi. Nam maiores explicabo cum sunt sintsed officiis voluptatum ut galisum cupiditate ea sint.
                Lorem ipsum dolor sit amet. Aut pariatur dolores eum quod dolores est molestias earum. Qui quasi Quis sit voluptas 
                accusamus id iure sequi. Nam maiores explicabo cum sunt sintsed officiis voluptatum ut galisum cupiditate ea sint. 
                Lorem ipsum dolor sit amet. Aut pariatur dolores eum quod dolores est molestias earum. Qui quasi Quis sit voluptas 
                accusamus id iure sequi. Nam maiores explicabo cum sunt sintsed officiis voluptatum ut galisum cupiditate ea sint.
                Lorem ipsum dolor sit amet. Aut pariatur dolores eum quod dolores est molestias earum. Qui quasi Quis sit voluptas 
                accusamus id iure sequi. Nam maiores explicabo cum sunt sintsed officiis voluptatum ut galisum cupiditate ea sint.
                Lorem ipsum dolor sit amet. Aut pariatur dolores eum quod dolores est molestias earum. Qui quasi Quis sit voluptas 
                accusamus id iure sequi. Nam maiores explicabo cum sunt sintsed officiis voluptatum ut galisum cupiditate ea sint.
                Lorem ipsum dolor sit amet. Aut pariatur dolores eum quod dolores est molestias earum. Qui quasi Quis sit voluptas 
                accusamus id iure sequi. Nam maiores explicabo cum sunt sintsed officiis voluptatum ut galisum cupiditate ea sint.
            <div class="button-container">
              <i id="modal-favorite" class="bi bi-star"></i>
              <i id="modal-delete" class="bi bi-trash3"></i>
            </div>
        </div>
        </div>

        <div class="modal" id="deleteEntryModal">
        <div class="modal-content">
          <div class="modal-title">Are you sure you want to delete this entry?</div>
          <p>
            This action cannot be undone. Please confirm if you want to proceed with the deletion.
          </p>
            <div class="button-container">
              <button class="btn-secondary" id="modal-cancel">Cancel</button>
              <button class="btn-primary" type="submit" id="modal-save">Delete</button>
            </div>
        </div>
      </div>
  </div>


  
  

<script>
  function favoriteEntry(element) {
    // TODO: save favorite status in DB
    if (element.classList.contains('bi-star')) {
        // Currently unfavorited, make it favorited
        element.classList.remove('bi-star');
        element.classList.add('bi-star-fill');
    } else if (element.classList.contains('bi-star-fill')) {
        // Currently favorited, make it unfavorited
        element.classList.remove('bi-star-fill');
        element.classList.add('bi-star');
    }

    }
    function deleteEntry(element) {
    // TODO: delete entry in DB
    if (element.classList.contains('bi-trash3')) {
        delete_modal.classList.add("visible");
    }
    }

    document.getElementById('modal-favorite').addEventListener('click', function() {
        favoriteEntry(this);
    });

    document.getElementById('modal-delete').addEventListener('click', function() {
        deleteEntry(this);
    });


    const delete_modal = document.getElementById("deleteEntryModal");
    const btnCancel = document.getElementById("modal-cancel");

    btnCancel.addEventListener("click", ()=> {
    event.preventDefault();
    event.stopPropagation();
    delete_modal.classList.remove("visible");
    })

    delete_modal.addEventListener("click", (event) => {
    if (event.target === delete_modal) {
        delete_modal.classList.remove("visible");
    }
    });
</script>
</body>
</html>
